@model PaginaRedSocial.Models.Comentario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Tipo Usuario -->
        <h1>Administrador</h1>

        <!-- Botón colapsable -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- links -->
        <div class="collapse navbar-collapse alinearDerecha" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="../Users">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="../Posts">Posteos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="../Tags">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../Comentarios">Comentarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aling-text-right" href="/Logout">Cerrar sesion</a>
                </li>

            </ul>
        </div>
    </nav>

</header>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
