
@model IEnumerable<PaginaRedSocial.Models.Post>


@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body{
            flex: 1;
            height: 100% !important;
            width: 100% !important;
            background-color:#F2F2F2;
        }

        .navbar-container {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content:space-around;
        }

        .navbar-btn{
            color: #fff;
            padding: 7px;
            border-radius: 15px;
            width: 150px;
            text-align: center;
            text-decoration: none;
        }

        .navbar-btn:hover {
            color: #F2F2F2;
        }

        .add-friends-btn{
            background-color: #45bd62;
            border: 1px solid #45bd62;
        }

        .add-friends-btn:hover {
            background-color: #72cb88;
            border: 1px solid #72cb88;
        }
        .comentar-btn:hover {
            background-color: ##C70039;
            border: 1px solid ##C70039;
        }

        .show-my-friends-btn {
            background-color: #f5bd3b;
            border: 1px solid #f5bd3b;
        }

        .comentar {
            background-color: #2374e1;
            border: 1px solid #2374e1;
        }

        .show-my-friends-btn:hover {
            background-color: #f4c455;
            border: 1px solid #f4c455;
        }

        .my-post-btn {
            background-color: #F02849;
            border: 1px solid #F02849;
        }

        .my-post-btn:hover {
            background-color: #f0536d;
            border: 1px solid #f0536d;
        }


        .new-post-container{
            padding: 20px;
            background-color: #FFF;
            border-radius:10px;
            min-height: 50px;
            box-shadow: -3px 8px 5px -9px rgba(0,0,0,0.16);
            -webkit-box-shadow: -3px 8px 5px -9px rgba(0,0,0,0.16);
            -moz-box-shadow: -3px 8px 5px -9px rgba(0,0,0,0.16);
            margin-bottom: 20px;
        }

        textarea {
            width: 100%;
            height: 80px;
            padding: 12px 20px;
            box-sizing: border-box;
            background-color: #FFF;
            font-size: 16px;
            resize: none;
            outline:none;
            border: 1px solid #FFF;
        }
        .new-post-btn{
            outline: none;
            padding: 5px;
            background-color: #2374e1;
            width: 100%;
            height: 36px;
            color: #FFF;
            font-weight: bold;
            border-radius: 10px;
            border: 1px solid #2374e1;
        }

        .new-post-btn:hover{
            background-color: #3982ff;
            border: 1px solid #3982ff;
        }

        .friend-posts-container{
            flex: 1;
            background-color: #FFF;
            padding: 20px;
            border-radius: 10px;
            min-height: 100vh;
        }

        .friend-post{
            padding: 20px;
            width: 100% ;
            border-bottom: 1px solid #F2F2F2;
        }

        .profile-image-friend{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .friend-information{
            display: flex;
            flex-direction: row;
        }

        .friend-name {
            padding: 10px;
        }

        .friend-post-content{
            padding: 10px;
        }

        .friend-post-date{
            font-size: 12px;
            color: #424242;
            padding: 10px;
        }

        .texto-menor-10x {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 14px;
            line-height: 1.5;
            max-width: 10em;
        }

            .texto-menor-10x .usuario {
                font-weight: bold;
                margin-bottom: 5px;
               color: #808080
            }

            .texto-menor-10x .fecha {
                color: #999;
                font-size: 12px;
                margin-bottom: 5px;
            }

            .texto-menor-10x .contenido {
                margin-bottom: 5px;
                font-style: italic;
            }
        
       
    </style>
</head>

<body>
        <div class="navbar-container">
        <a class="navbar-btn add-friends-btn" asp-controller="Home" asp-action="BuscarAmigos">
            Agregar amigos
        </a>
        <a class="navbar-btn show-my-friends-btn" asp-controller="Home" asp-action="MisAmigos">
            Mis amigos
        </a>
        <a class="navbar-btn my-post-btn"  asp-controller="Home" asp-action="MisPosts">
            Mis posts
        </a>
        </div>
        <div class="new-post-container">
        <form asp-controller="Posts" asp-action="CreatePost" method="post">
            <textarea id="postContent" name="postContent" placeholder="¿En qué estás pensando?"></textarea>
                <button class="new-post-btn" type="submit">Publicar</button>
        </form>
        </div>

    


        <div class="friend-posts-container">

            @foreach (var item in Model)
            {
                <div class="friend-post">
                    <div class="friend-information">
                        <img class="profile-image-friend" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />
                        <span class="friend-name">
                            <strong>
                                @Html.DisplayFor(modelItem => item.user.Nombre)
                            </strong>
                        </span>
                    </div>
                    <div class="friend-post-content">
                        @Html.DisplayFor(modelItem => item.Contenido)
                    </div>
                    <span class="friend-post-date">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </span>
                @foreach (var comentario in item.Comentarios)
                {


                    <div class="texto-menor-10x">
                        <span class="usuario"> @Html.DisplayFor(itemcomentario => comentario.Usuario.Nombre)</span>
                        <span class="fecha">@Html.DisplayFor(itemcomentario => comentario.FechaComentario)</span>
                        <p class="contenido">@Html.DisplayFor(itemcomentario => comentario.Contenido)</p>
                    </div>
                   
                    
                }
                    
                        <form asp-controller="Comentarios" asp-action="CreateComment" method="post">
                   
                    <textarea id="ComentarioContent" name="ComentarioContent" placeholder="¿Quieres comentar el post de tu amigo?"></textarea>
                    <input name="postId" type="hidden" value="@Html.DisplayFor(modelItem => item.Id)" />
                    <button class="navbar-btn comentar" type="submit">Comentar</button>
                </form>
                </div>
            }
        </div>

</body>